* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightslategray;
    gap: 45px;
}

button {
    background-color: rgb(216, 216, 216);
}

h1 {
    text-align: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color:rgb(71, 71, 71);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    gap: 4px;
}

.display {
    background-color: rgb(44, 65, 65);
    border: 2px solid gray;
    border-radius: 10px;
}

.num-display {
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.num-pad {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row {
    display: flex;
    flex: 1;
}

.number {
    padding: 30px;
}

.operator {
    padding: 30px;
}

#exponent {
    padding: 27px;
}

#clear {
    padding: 26px;
}

#num-0 {
    width: 72px;
}